**AI-Lab**
---
**Second Assignment**
---
---
**Student Name:** *your name here*

**Student ID:** *your id here*

---
**Mark: --/10**

**A. single_number**

Given a non-empty list of integers, every element appears twice except for one. Find that single one.

Example:

Input: [4,1,2,1,2]

Output: 4

In [5]:
def single_number(arr):
    result = 0
    for i in arr:
        result ^= i
    return result

arr1 = [5, 3, 4, 3, 4]
arr2 = [3, 2, 5, 2, 1, 5, 3]

print(single_number(arr1))
print(single_number(arr2))

5
1

**B. majority_element**

Given a list of size n, return the majority element.

The majority element appears more than [n / 2] times.

Example:

Input: [2,2,1,1,1,2,2]

Output: 2

Input: [3,2,3] 

Output: 3

In [4]:
def majority_element(num_list):
        idx, ctr = 0, 1
        
        for i in range(1, len(num_list)):
            if num_list[idx] == num_list[i]:
                ctr += 1
            else:
                ctr -= 1
                if ctr == 0:
                    idx = i
                    ctr = 1
        
        return num_list[idx]

print(majority_element([1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 6]))

print(majority_element([1,2,3,4,3,3,2,4,5,6,1,2,3,4,6,1,2,3,4,6,6]))

5
6

**C. match_ends**

Given a list of strings, return the count of the number of strings where the string length is 2 or more and the first and last chars of the string are the same.

Note: python does not have a ++ operator, but += works.

In [3]:
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'basil', 'aba', 'baaba']))

1

**D. front_x**

Given a list of strings, return a list with the strings in sorted order, except group all the strings that begin with 'x' first.

e.g. ['mix', 'xyz', 'apple', 'xanadu', 'aardvark'] 

yields ['xanadu', 'xyz', 'aardvark', 'apple', 'mix']

Hint: this can be done by making 2 lists and sorting each of them before combining them.

In [2]:
def front_x(words):
  for word in words:
      if word[0:1] == "x":
          Liste = []
          Liste += word
      else:
          Liste2 = []
          Liste2 += word

  return sorted(Liste) + sorted(Liste2)
words = ['mix', 'xyz', 'apple', 'xanadu', 'aardvark']
print(front_x(words))

['a', 'a', 'd', 'n', 'u', 'x', 'a', 'a', 'a', 'd', 'k', 'r', 'r', 'v']

**E. sort_last**

Given a list of non-empty tuples, return a list sorted in increasing order by the last element in each tuple.

e.g. [(1, 7), (1, 3), (3, 4, 5), (2, 2)] 

yields [(2, 2), (1, 3), (3, 4, 5), (1, 7)]

Hint: use a custom key= function to extract the last element form each tuple.

In [1]:
def sort_last(tuples):
     for t in tuples :
          last_element = t[-1]
     return sorted(tup, key=lambda x:x[-1])
tup =[ (1, 7), (1, 3), (3, 4, 5), (2, 2)]
print(sort_last(tup))

[(2, 2), (1, 3), (3, 4, 5), (1, 7)]

**Submission**

To submit this notebook go to share on the top right of the screen and change the general access to "**Anyone with the link**" and make sure to change the role from "Viewer" to "**Editor**" to edit your notebook by adding mark, then copy link and paste it in the specified place on students' e-learning platform "Moodle".

---
**Instructor: Ibrahim O. I. Kaware**