<a href="https://colab.research.google.com/github/basilfarra/Python-CCourse/blob/main/Python_Data_Structures_Basic_2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1**

Write a Python function named select_odds to select the odd items of a range from 1 to 100.

Note: function should result a list with result.

In [ ]:
def select_odds():
  odds = list() # []
  for num in range(1, 101, 2):
    odds.append(num)
  return odds


print(select_odds())

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

**Exercise 2**

Write function select_unique_values to get unique values from a list.

Note: result should be in a list.

In [ ]:
def select_unique_values(l):
  return set(l)

select_unique_values([1, 2, 1, 1, 3, 4, 2])

{1, 2, 3, 4}

**Exercise 3**

Write function get_max_min to get the maximum and minimum values in a dictionary and return result in form of tuple.

Write function get_max_min_dict to get the maximum and minimum values in a dictionary and return result in form of dictionary.

Hint: use max() and min()

In [ ]:
def get_max_min(d): 
	maximum = max(d.values())
	minimum = min(d.values())
	return maximum, minimum

def get_max_min_dict(d): 
	maximum = max(d.values())
	minimum = min(d.values())
	return {'max':maximum,'min':minimum}

get_max_min({'A': 1,
             'B': 8,
						 'C': 5,})

get_max_min_dict({'A': 1,
             'B': 8,
						 'C': 5,})

{'max': 8, 'min': 1}

**Exercise 4**


Convert



1. dict to list
2. set to list
3. list to set

In [ ]:
#dict to lists
"""
Note: For python 2.7, python 3.x returns a 'Dictionary view objects'
"""
d = {'a': 'Jose', 'b': 'Miguel'}
d_keys = d.keys()           #Returns list of dictionary dict's keys
d_values = d.values()       #Returns list of dictionary dict's values

#set to list 
words = "Blah", "Hello"
words_list = list(words)

#List to set 
fruit = ['banana', 'orange', 'pineapple']
fruit_set = set(fruit)

List Slicing

In [ ]:
nums = list(range(5))    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"
nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]