**Exercise 1**
 

Write a script that request two number from user
Make a sum with the two numbers and save result in a variable. 
Finally print result variable

In [ ]:
#Sum Two numbers. 

# Request first number from user. 
a = float(input("First number: "))

# Request second number to user. 
b = float(input("Second number: "))

# Make the sum. 
c = a + b

# Show result in screen.
print("\nThe sum of two numbers is:", c)

First number: 5.2
Second number: 1.2

The sum of two numbers is:*6.4

**Exercise 2**
 

Create an algorithm to calculate perimeter and area of a circle
 


*   Create a variable with  pi value
*   Request radius from the user
*   Calculate perimeter and save in variable
*   Calculate area and save in variable 
*   Print in screen perimeter and area variables

In [ ]:
# Variables:
PI = 3.141592

# Request the radius from the user
r = float(input("Enter the radius of the circle:"))

# Calculate perimeter 
p = 2 * PI * r

# Calculate area
a = PI * r ** 2

# Show the results on the screen
print("The perimeter of the circle is: ", p)
print("The area of the circle is: ", a)

**Exercise 3**
 

Algorithm to transform Fahrenheit to Celsius

Request Fahrenheit from user,
make transformation
, and show result in screen.

In [ ]:
# Request Fahrenheit degrees to transform into Celsius
f = float(input("Enter Fahrenheit Degrees:"))

# Make conversion 
c = (f - 32.0) * (5.0 / 9.0)

# Show result in screen 
print(f, "degrees Fahrenheit correspond to", c, "degrees Celsius")

Enter Fahrenheit Degrees:85
85.0 degrees Fahrenheit correspond to 29.444444444444446 degrees Celsius

**Exercise 4**

Write a program that prints the numbers from 1 to 100. But for **multiples of three print “F”** instead of the number and for the **multiples of five print “B”**. For numbers which are **multiples of both three and five print “FB”**

In [ ]:
for i in range(1, 101):
    if (i % 3 == 0 and i % 5 == 0): 
        print("FB")
    elif i % 3 == 0:
        print("F")
    elif i % 5 == 0:
        print("B")
    else:
        print(i)

**Exercise 5**

Determine if positive integer number is a prime number or not.


Remember:

A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself.

In [ ]:
n = int(input('Enter a number...'))
for i in range(2, n):
  if n % i == 0:
    x = ('Not Prime')
    break
  else: 
    x = ('Prime')
print(x)

Enter a number... 17
Prime

# Some exampels on string

In [ ]:
hi = "hello there"
name = "ana"
greet = hi + name  
print(greet)
greeting = hi + " " + name
print(greeting)
silly = hi + (" " + name)*3
print(silly)

hello thereana
hello there ana
hello there ana ana ana

In [ ]:
x = 1
print(x)
x_str = str(x)
print("my fav number is", x, ".", "x=", x)
print("my fav number is", x_str + "." + "x=" + x_str)
print("my fav number is" + x_str + "." + "x=" + x_str)

1
my fav number is 1 . x= 1
my fav number is 1.x=1
my fav number is1.x=1

In [ ]:
text = input("Type anything... ")
print(5*text)
num = int(input("Type a number... "))
print(5*num)

Type anything... 5
55555
Type a number... 5
25

# Some examples on for loop and if elif else

In [ ]:
x = float(input("Enter a number for x: "))
y = float(input("Enter a number for y: "))
if x == y:
   print("x and y are equal")
   if y != 0:
       print("therefore, x / y is", x / y)
elif x < y:
   print("x is smaller")
elif x > y:
   print("y is smaller")
print("thanks!")

Enter a number for x: 5
Enter a number for y: 4
y is smaller
thanks!

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

In [ ]:
# mysum = 0
# for i in range(7, 10):
# 	 mysum += i
# print(mysum)


mysum = 0
for i in range(5, 11, 2):  
	mysum += i
print(mysum)

21